.button {
  background-color: #cecece;
  border-radius: 5px;
  font-size: 1.25em; }

.container, .container-header, .container-cards {
  color: #231f20;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap; }

.container-cards {
  justify-content: space-around; }

.body {
  padding: 0;
  background-color: #231f20; }

.header {
  background-color: #12419c;
  color: #cecece;
  font-family: "Anton", sans-serif;
  width: 100%;
  text-align: center; }

.h1 {
  font-size: 5em; }
  @media only screen and (max-width: 650px) {
    .h1 {
      font-size: 3em; } }

.card {
  background-color: #cecece;
  border-radius: 10px;
  margin-top: 12px;
  padding: 10px;
  width: 300px; }
  @media only screen and (max-width: 650px) {
    .card {
      margin-top: 5%;
      width: 275px; } }

.card-header {
  color: #231f20;
  font-family: "Anton", sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; }

.num {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #231f20;
  color: #ffd200; }

.card-title {
  font-weight: 900;
  text-align: center; }

.card-tag {
  text-align: right; }
  .card-tag a {
    color: #bb4430; }

.footer {
  color: #cecece;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 20%; }
  .footer a {
    color: #bb4430;
    text-decoration: none; }
  .footer a:visited {
    color: #bb4430;
    text-decoration: none; }
