$yellow: #ffd200;
$blue:   #12419c;
$grey:   #cecece;

@mixin h-font {
  font-family: 'Anton', sans-serif;
}

@mixin reg-font {
  font-family: 'Roboto', sans-serif;
}

.header {
  @include h-font;
  background-color: $blue;
  color: $grey;
  size: 4em;
  text-align: center;
  width: 100%;
}

.text {
  @include reg-font;
}
