nav{
  display: flex;
  font-size: 1.25em;
  margin-bottom: 0;
  padding-left: 12px;
  ul{
    background-color: $red;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    li{
      margin: 12px;
    }
  }
}
