.card {
  background-color: $grey;
  border-radius: $border-card-radius;
  border: solid 3px $darkgrey;
  margin: 12px;
  margin-left: 4px;
  padding: 10px;
  width: $card-width;
  z-index: 1;
  //transition for card shadow
  transition-property: box-shadow;
  transition-duration: .5s;
 	transition-delay: 0s;
	box-shadow: 0 0 10px 5px rgba(35, 31, 32, .1);

  //allows for cards to have a shadow on mouse hover
  &:hover{
    z-index: 2;
		transition-property: box-shadow;
  	transition-duration: 1s;
 		transition-delay: 0s;
		box-shadow: 0 0 60px 15px rgba(35, 31, 32, .4);
  }

}

.card-header {
  @include font-choice($darkgrey, $header);
  @include font-size(3);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.num {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $darkgrey;
  color: $yellow;
}

.card-title {
  //font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}

.card-tag {
  text-align: right;

  a {
    color: $red;
  }
}

.code{
  background-color: rgba(18, 65, 156, 0.7);
  color: $grey;
}
