.card {
  background-color: $grey;
  border-radius: $border-card-radius;
  margin-top: 12px;
  padding: 10px;
  width: $card-width;
  @media only screen and (max-width: 650px) {
    margin-top: 5%;
    width: $card-width-mobile;
  }
}

.card-header {
  @include font-choice($darkgrey, $header);
  @include font-size(3);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.num {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $darkgrey;
  color: $yellow;
}

.card-title {
  //font-size: 1.5em;
  font-weight: 900;
  text-align: center;
}

.card-tag {
  text-align: right;

  a {
    color: $red;
  }
}
