.card {
  @include card-border($darkgrey, $border-radius);
  border-radius: $border-radius;
  margin: 8px;
  padding: 10px;
  width: $card-width;
}

.card-header {
  @include fontchoice($darkgrey, $header);
  font-size: 3em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.num {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $darkgrey;
  color: $yellow;
}

.card-title {
  //font-size: 1.5em;
  font-weight: 900;
}
