.container {
  @include font-choice($darkgrey, $text);
  display: flex;
  flex-wrap: wrap;
  //margin: auto;
}

.container-header {
  @extend .container;
}

.container-cards {
  @extend .container;
  justify-content: space-around;
}
//BODY!
.body {
  padding: 0;
  @include add-background($darkgrey);
}
