.nav {
  @include bottom-border($border-radius);
  @include font-choice($grey, $text);
  background-color: $darkgrey;
  display: flex;
  font-size: $fontsize;

  padding: 0;
  padding-left: 5px;
}

.nav-ul {
  @extend .nav;
  display: flex;
  list-style-type: none;
}

.nav-ul-li {
  margin: 5px;

}

.nav-ul-li-a {
  color: $red;
  text-decoration: none;

  :visited {
    color: $red;
  }
}
