@mixin add-background($back) {
  background-color: $back;
}

@mixin font-choice($color, $font) {
  color: $color;
  font-family: $font;
}

@mixin font-size($size) {
  font-size: $fontsize * $size;
}

@mixin card-border($color, $br) {
  border: 2px solid $color;
  border-radius: $br;
}

@mixin bottom-border($br) {
  border-bottom-left-radius: $br;
  border-bottom-right-radius: $br;
}