@media only screen and (max-width: 650px) {
  .container{
    flex-wrap: wrap;
    margin: auto;

  }

  .h1 {
    @include font-size(3);
  }

  .card{
    margin: auto;
    width: $card-width-mobile;
    margin-top: 5%;
  }
}
