 //color
$blue: rgba(18, 65, 156, 1);
$yellow: rgba(255, 210, 0, 1);
$grey: rgba(206, 206, 206, 1);
$red: rgba(187, 68, 48, 1);
$darkgrey: rgba(35, 31, 32, 1);
//fonts
$header: 'Anton', sans-serif;
$text: 'Roboto', sans-serif;
$fontsize: 1em;
//$border-radius
$border-radius: 10px;
//widths
$container-width: 960px;
$card-width: 300px;
$card-width-mobile: 275px;
